@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Major+Mono+Display&family=Poiret+One&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&family=Freckle+Face&display=swap');
*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
    overflow: visible;
}
body{
    line-height: 1.6rem;
    font-family:"Freckle Face", sans-serif;
    background:url('https://source.unsplash.com/collection/ 1301712') no-repeat center center/cover;
    height:100%;
    background:black;
}

.baad{
    display:none;
}

.uthale tr{
    width: 0px;
    height:0px;
    display: none;
}
.uthale-bc tr{
    display: none;
}

.show{
    /* display:block; */
   display: block;
   transition:1s;
   font-size:1.7rem;
   font-family:sans-serif;
}
.shuffler{
    display:flex;
    flex-direction: column;
    text-align: left;
}
.container{
    padding:0 2rem;
    height:100vh;
    background:url('https://source.unsplash.com/collection/ 1301712') no-repeat center center/cover;
}
img{
    border-radius: 50%;
    height:100px;
    width:100px;
    padding:0 2rem;
}
.ghata{
    position: absolute;
    top:0;
    left:0;
    right: 0;   
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: visible;
    height:auto;
    color:white;
    /* color:rgb(255, 132, 132); */
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 10fr 6fr;
}
.asli-kaam{
    overflow: visible;
    /* position: absolute; */
    top:0;
}
table{
    border:1px solid white;
}
.tables{
    height:100vh;
    overflow: visible;
}
th{
    border-right:1px solid white;
    
}
td{
    border-right:1px solid white;
}
.asli-kaam{
    border-left:solid 10px white;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
tr{
    font-family:"Black Ops one";
}
.title{
    height:auto;
}
.title h1{
    font-size: 3rem;
    padding:2rem;
    /* font-family:"black ops one"; */
    font-family:"major mono display";
    height:auto;
}
th{
    padding:1rem;
}
td{
    padding:1rem;
}
.more-bakwaas{
    padding:0 2rem;
}
.moe-bakwaas{
    font-size:2rem;
    color:rgb(201, 201, 190); 
}
p{
    padding:1rem 0rem;
}
.swaha{
    font-size:2rem;

}
.swag{
    font-size:2rem;
    color:rgb(255, 85, 85);
}
a{
    text-decoration: none;
    color:rgb(255, 85, 85);
}